<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Blog</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <section class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <header class="hero is-small">
            <div class="hero-head">
              <!-- start navigation -->
              <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                  <a class="navbar-item" href="#">
                    <span class="icon">
                      <i class="fas fa-2x fab fa-linux"></i>
                    </span>
                  </a>
                  <a class="navbar-item" href="<%= Routes.page_path(@conn, :index) %>">
                    <div class="is-size-5">blog.xyz.ch</div>
                  </a>
                  <a role="button" class="navbar-burger burger" data-target="navMenu" 
                    aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
                </div>
                <div id="navMenu" class="navbar-menu">
                    <div class="navbar-end">
                      <div class="tabs is-right">
                        <ul>
                          <li><a href="<%= Routes.page_path(@conn, :index) %>"> Home </a></li>
                          <li><a href="<%= Routes.post_path(@conn, :index) %>"> Blog </a></li>
                        </ul>
                      </div>
                    </div>
                </div>
              </nav>
              <!-- end navigation -->
            </div>
          </header>
        </div>
      </div>
    </section>

    <main class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <section>
            <%
              [info, error] = [get_flash(@conn, :info), get_flash(@conn, :error)]
            %>
            <%= if info do %>
              <div class="notification is-info" role="alert">
                <%= info %></p>
                <button class="delete"></button>
              </div>
            <% end %>
            <%= if error do %>
              <div class="notification is-danger" role="alert">
                <%= error %>
                <button class="delete"></button>
              </div>
            <% end %>
            <section role="main">
              <%= render @view_module, @view_template, assigns %>
            </section>
          </section>
        </div>
      </div>
    </main>

    <footer class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="has-text-centered is-size-7 has-text-grey">
            A basic Elixir/Phoenix/Bulma App developed by lexruee.
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener('DOMContentLoaded', () => {
          // Get all "navbar-burger" elements
          const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
          // Check if there are any navbar burgers
          if ($navbarBurgers.length > 0) {
              // Add a click event on each of them
              $navbarBurgers.forEach( el => {
                  el.addEventListener('click', () => {
                      // Get the target from the "data-target" attribute
                      const target = el.dataset.target;
                      const $target = document.getElementById(target);

                      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                      el.classList.toggle('is-active');
                      $target.classList.toggle('is-active');
                  });
              });
            }
          });
        document.addEventListener('DOMContentLoaded', () => {
          (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            $notification = $delete.parentNode;
            $delete.addEventListener('click', () => {
              $notification.parentNode.removeChild($notification);
            });
          });
        });
    </script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
